html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  line-height: 1.25em;
  font-family: 'Allura', cursive;
}

body {
  background: url('../images/wood-pattern.jpg') repeat;
  text-align: center;
  position: relative;
}

.hide-me {
  display: none;
}

.calendar {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.calendar .islider-outer {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  width: 100vw;
  max-width: 400px;
  margin: auto;
}

.calendar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.calendar li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}
.calendar .islider-outer .page {
  background: #fff;
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
  overflow: visible;
}


.calendar .islider-outer .page:after {
  content: '';
  width: 170px;
  height: 125px;
  background: url("../images/sarner-huat.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  top:   -72px;
  right: -60px;
}

.calendar .islider-outer .page .content {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
}

.calendar .islider-outer .page:before {
  content: '';
  display: block;
  padding-top: 160%;
}

.calendar .islider-outer .page .content .heading {
  margin-top: 12vh;
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1.25em;
}

.calendar .islider-outer .page .content .week-day {
  font-size: 2.2em;
  line-height: 1em;
}

.calendar .islider-outer .page .content .day {
  font-size: 8em;
  line-height: 1em;
  font-weight: bold;
}

.calendar .islider-outer .page .content .day:after {
  content: '.';
}

.calendar .islider-outer .page .content .month {
  margin-top: -0.6em;
  font-size: 1.6em;
  line-height: 1em;
}

.calendar .islider-outer .page .content .native-player {
  display: none;
}

.calendar .islider-outer .page .content .player-controls {
  margin: 2em auto 0;
}

.calendar .islider-outer .page .content .player-controls .button {
  margin: 0.5em auto;
  font-size: 2em;
  display: block;
  width: 200px;
}

.calendar .islider-outer .page .content .player-controls .button--play-pause {}

.calendar .islider-outer .page .content .player-controls .button--play-pause--play .button-text--pause {
  display: none;
}

.calendar .islider-outer .page .content .player-controls .button--play-pause--pause .button-text--play {
  display: none;
}