html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
  line-height: 1.25em;
  font-family: 'Allura', cursive;
}

body {
  background: url('../images/wood-pattern.jpg') repeat;
  text-align: center;
  position: relative;
}

.hide-me {
  display: none;
}

button:focus {outline:0;}

body {}

.global-decoration {}

.global-decoration .speck {
  width: 29%;
  max-width: 200px;
  background: url("../images/speck.png") no-repeat center center;
  background-size: contain;
  position: fixed;
  top:  -3%;
  left: 0;
  z-index: 20;
}
.global-decoration .speck:after {
  content: '';
  display: block;
  padding-bottom: 162%;
}

.calendar {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.calendar .islider-outer {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  width: 100vw;
  max-width: 400px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.calendar .islider-outer .islider-html {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: visible;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}

.calendar .islider-outer .islider-html .page {
  background: #fff;
  box-shadow: 3px 7px 14px 6px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
  overflow: visible;
}


.calendar .islider-outer .islider-html .page:after {
  content: '';
  width: 170px;
  height: 125px;
  background: url("../images/sarner-huat.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  top:   -72px;
  right: -60px;
}

.calendar .islider-outer .islider-html .page:before {
  content: '';
  display: block;
  padding-top: 140%;
}

.calendar .islider-outer .islider-html .page .content {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  transition: opacity 0.5s;
}

.calendar .islider-outer .islider-html:not(.islider-active) .page .content {
  opacity: 0.1;
}

.calendar .islider-outer .islider-html .page .content .heading {
  margin-top: 11vh;
  margin-bottom: 1vh;
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1.25em;
}

.calendar .islider-outer .islider-html .page .content .week-day {
  font-size: 2.2em;
  line-height: 1em;
}

.calendar .islider-outer .islider-html .page .content .day {
  font-size: 8em;
  line-height: 1em;
  font-weight: bold;
}

.calendar .islider-outer .islider-html .page .content .day:after {
  content: '.';
}

.calendar .islider-outer .islider-html .page .content .month {
  margin-top: -0.6em;
  font-size: 1.6em;
  line-height: 1em;
}

.calendar .islider-outer .islider-html .page .content .native-player {
  display: none;
}

.calendar .islider-outer .islider-html .page .content .player-controls {
  margin: 2em auto 0;
}

.calendar .islider-outer .islider-html .page .content .player-controls .button {
  margin: 0.5em auto;
  font-size: 2em;
  display: block;
  width: 200px;
}

.calendar .islider-outer .islider-html .page .content .player-controls .button--play-pause {}

.calendar .islider-outer .islider-html .page .content .player-controls .button--play-pause--play .button-text--pause {
  display: none;
}

.calendar .islider-outer .islider-html .page .content .player-controls .button--play-pause--pause .button-text--play {
  display: none;
}

.calendar .islider-outer .islider-html .page .content .player-controls .button--play-pause {
  box-shadow: none;
  border: none;
  font-size: 1.2em;
  padding-bottom: 50px;
  padding-left: 76px;
  width: 200px;
  background: url("../images/trompete.png") no-repeat center bottom;
  background-size: contain;
  position: relative;
  z-index: 20;
}

.calendar .islider-outer .islider-html .page .content .player-controls .button--play-pause .click-overlay {
  display: block;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  z-index: 10;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.calendar .islider-outer .islider-html.islider-active .page .content .player-controls .button--play-pause--play {
  animation: wiggle 4s 0s infinite;
}

.calendar .islider-outer .islider-html .page .content .player-controls .button--play-pause--pause {
  transform: rotate(-10deg);
}


.footer {
  position: absolute;
  right:  0;
  bottom: 0.2em;
  left:   0;
  color: #fff;
  text-shadow: 4px 4px 4px #000000;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  40% { transform: rotate(0deg); }
  45% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  55% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}